<h2>Asteroids</h2>
  <p>Pick a date range to begin !</p>

  <mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
    <input matStartDate formControlName="start" placeholder="Start date" id="dateRangeStart" #dateRangeStart>
    <input matEndDate formControlName="end" placeholder="End date" id="dateRangeEnd" #dateRangeEnd (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<h2>Neo-Feed from {{ startDate }} to {{ endDate }}</h2>

<table mat-table [dataSource]="neoFeed" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Distance (km) </th>
      <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>
  
    <ng-container matColumnDef="velocity">
      <th mat-header-cell *matHeaderCellDef> Velocity (km/h) </th>
      <td mat-cell *matCellDef="let element"> {{element.velocity}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
